{% extends "base.html" %}

{% block content %}
    <h1>Business: {{ user.username }}</h1>

    <!-- Display Existing Services -->
    <h2>Services</h2>
    {% for service in services %}
    <div>
        <p>{{ service.name }} - {{ service.description }}: ${{ service.price }}</p>
    </div>
    {% endfor %}

    <hr>

    <!-- Service Form -->
    <h2>Add a New Service</h2>
    <form action="{{ url_for('add_service', username=user.username) }}" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(size=32) }}
        </p>
        <p>
            {{ form.price.label }}<br>
            {{ form.price(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
