{% extends "base.html" %}

{% block content %}
    <h1>User: {{ user.username }}</h1>

    <!-- Display Existing Vehicles -->
    <h2>Vehicles</h2>
    {% for car in vehicles %}
    <div>
        <p>{{ car.year }} {{ car.make }} {{ car.model }}</p>
    </div>
    {% endfor %}

    <hr>

    <!-- Vehicle Form -->
    <h2>Add a New Vehicle</h2>
    <form action="{{ url_for('add_vehicle', username=user.username) }}" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.make.label }}<br>
            {{ form.make(size=32) }}
        </p>
        <p>
            {{ form.model.label }}<br>
            {{ form.model(size=32) }}
        </p>
        <p>
            {{ form.year.label }}<br>
            {{ form.year(size=4) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
